@import url('https://fonts.googleapis.com/css?family=Work+Sans:300&subset=latin-ext');
@CHARSET "ISO-8859-1";

html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 2px 4px green;
}
video{
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%, -50%);
}
.background {
    background-image: url("index-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
a{	
	margin: 30px;
	padding: 10px;
	color: white;
    text-decoration: none;
	border-radius: 0 0 30px 30px;
}
a:hover{
	/*color: #cc0099;*/
	background-color: rgba(0,200,0,0.5);
	transition-duration: 0.5s;
}
header{
	background-color: rgba(255,204,0,0.3);
	position: fixed;
	top:0;
	width: 100%;
	height: 60px;
	font-size: 50px;
	border-radius: 0px 0px 30px 30px;
}
.homehely{
	position: fixed;
	top: 1.5%;
	left: 1%;
}
.bejelentkezhely{
	position: fixed;
	top: 1.5%;
	right: 1%;
}
.homehely a, .bejelentkezhely a{
	margin: 0;
	color:#660066;
	text-decoration: underline;
}
nav{
	background-color: rgba(255,204,0,0.3);
	position: fixed;
	top: 60px;
	left: 50%;
	padding: 10px;
	margin-right: -50%;
	transform: translate(-50%,0);
	border:5px solid rgba(0,170,0,0.3);
	border-radius: 0px 0px 30px 30px;
}
main{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-right: -50%;
	transform: translate(-50%,0);
	width: 50%;
	font-weight: normal;
}
footer{
	position: absolute;
	bottom:0;
	left: 50%;
	padding: 10px;
	margin-right: -50%;
	transform: translate(-50%,0);
	font-family: Arial;
	font-size: 16px;
}
@media only screen and (max-width: 918px){
	header{
		font-size: 30px;
		height: 40px;
	}
	.bejelentkezhely, .homehely{
		position: absolute;
		top: 0;
	}
	nav{
		top: 40px;
		padding-top:5px;
	}
	a, main{
		font-size:20px;
		margin:10px
	}
} 
@media only screen and (max-width: 605px){
	.bejelentkezhely, .homehely, main{
		display:none;
	}
	a{
		display:block;
	}
	video{
		display:none;
	}
}