@import url('https://fonts.googleapis.com/css?family=Work+Sans:300&subset=latin-ext');
@CHARSET "ISO-8859-1";

html, body {
    height: 100%;
    overflow: hidden;
    margin: 0;
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-size: 30px;
	font-weight: bold;
	text-align: center;
	text-shadow: 2px 2px 4px green;
}
.background {
    background-image: url("logout.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
a{	
	margin: 30px;
	padding: 10px;
	color: white;
    text-decoration: none;
	border-radius: 0 0 30px 30px;
}
a:hover{
	/*color: #cc0099;*/
	background-color: rgba(0,200,0,0.5);
	transition-duration: 0.5s;
}
header{
	background-color: rgba(255,204,0,0.3);
	position: fixed;
	top:0;
	width: 100%;
	height: 60px;
	font-size: 50px;
	border-radius: 0px 0px 30px 30px;
}
.homehely{
	position: fixed;
	top: 1.5%;
	left: 1%;
}
.bejelentkezhely{
	position: fixed;
	top: 1.5%;
	right: 1%;
}
.homehely a, .bejelentkezhely a{
	margin: 0;
	color:#660066;
	text-decoration: underline;
}
nav{
	background-color: rgba(255,204,0,0.3);
	position: fixed;
	top: 60px;
	left: 50%;
	padding: 10px;
	margin-right: -50%;
	transform: translate(-50%,0);
	border:5px solid rgba(0,170,0,0.3);
	border-radius: 0px 0px 30px 30px;
}
h1{
	position: relative;
	top:40%;
}